<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Code Pour Tou·te·s</title>
    <link rel="icon" href="/logo.png" type="image/png" />

    <link rel="stylesheet" href="style.css">

    <!-- Load d3.js for the map-->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

  </head>
  <body>
    <div class="banner">
      <a href="https://www.lewagon.com/fr/nantes">
        <img src="/logo.png" alt="Logo" class="logo" width=70>
      </a>
      <h1>
        <span class="red">Code</span> Pour Tou·te·s
      </h1>
    </div>
    <div class="container">
      <h2>Introducing people who code 🤘</h2>

      <div class="profiles">
        <% @profiles.each do |profile| %>
            <div class="profile-card">
              <div class="profile-header <%= profile[:color] %>">
                  <% if profile[:gender] == "woman" %>
                    <div class="profile-picture" style="background-image: url('/woman.png')"></div>
                  <% else profile[:gender] == "man" %>
                    <div class="profile-picture" style="background-image: url('/man.png')"></div>
                  <% end %>
                <h3 class="profile-name"><%= profile[:first_name]%></h3>
                <p><%= profile[:city] %></p>
              </div>
              <div class="profile-content">
                <p class="profile-quote">“<%=profile[:quote]%>”</p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div>
      <!-- Create an element where the map will take place -->
      <svg id="my_dataviz" width="440" height="350" display="block" margin="auto"></svg>
    </div>
    <div class="footer">
      <p>
        Page réalisée avec ❤️ pour la formation Code Pour Tou·te·s du
        <a href="https://www.lewagon.com/fr/nantes">Wagon Nantes </a>
        &
        <a href="https://www.lewagon.com/fr/rennes">Rennes</a>
      </p>
    </div>
    <div class="footer">
        <% @markers.each do |marker| %>
          <p >“<%=marker[:name]%>”</p>
        <% end %>
    </div>
  </body>
</html>



<script>


        // Size ?
        var width = 460
        var height = 400

        // The svg
        var svg = d3.select("#my_dataviz")
          .append("svg")
          .attr("width", width)
          .attr("height", height)

        // Map and projection
        var projection = d3.geoMercator()
            .center([4, 47])                // GPS of location to zoom on
            .scale(1020)                       // This is like the zoom
            .translate([ width/2, height/2 ])

        // Create data for circles:
        var markers = [
          {long: 9.083, lat: 42.149, name: "Corsica"}, // corsica
          {long: 7.26, lat: 43.71, name: "Nice"}, // nice
          {long: 2.349, lat: 48.864, name: "Paris"}, // Paris
          {long: -1.397, lat: 43.664, name: "Hossegor"}, // Hossegor
          {long: 3.075, lat: 50.640, name: "Lille"}, // Lille
          {long: -3.83, lat: 58, name: "Morlaix"}, // Morlaix
        ];

        // Trying to replace the list above by a list from app.rb  
        // var markers = [<% @markers.each {|key| key} %>]

        // Load external data and boot
        d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson", function(data){

            // Filter data
            data.features = data.features.filter( function(d){return d.properties.name=="France"} )

            // Draw the map
            svg.append("g")
                .selectAll("path")
                .data(data.features)
                .enter()
                .append("path")
                  .attr("fill", "#b8b8b8")
                  .attr("d", d3.geoPath()
                      .projection(projection)
                  )
                .style("stroke", "black")
                .style("opacity", .3)

            // create a tooltip
            var Tooltip = d3.select("#my_dataviz")
              .append("div")
              .attr("class", "tooltip")
              .style("opacity", 1)
              .style("background-color", "white")
              .style("border", "solid")
              .style("border-width", "2px")
              .style("border-radius", "5px")
              .style("padding", "5px")

            // Three function that change the tooltip when user hover / move / leave a cell
            var mouseover = function(d) {
              Tooltip.style("opacity", 1)
            }
            var mousemove = function(d) {
              Tooltip
                .html(d.name + "<br>" + "long: " + d.long + "<br>" + "lat: " + d.lat)
                .style("left", (d3.mouse(this)[0]+10) + "px")
                .style("top", (d3.mouse(this)[1]) + "px")
            }
            var mouseleave = function(d) {
              Tooltip.style("opacity", 0)
            }

            // Add circles:
            svg
              .selectAll("myCircles")
              .data(markers)
              .enter()
              .append("circle")
                .attr("cx", function(d){ return projection([d.long, d.lat])[0] })
                .attr("cy", function(d){ return projection([d.long, d.lat])[1] })
                .attr("r", 14)
                .attr("class", "circle")
                .style("fill", "69b3a2")
                .attr("stroke", "#69b3a2")
                .attr("stroke-width", 3)
                .attr("fill-opacity", .4)
              .on("mouseover", mouseover)
              .on("mousemove", mousemove)
              .on("mouseleave", mouseleave)

        })

    </script>
